{
    "presets": [
        ["@babel/env", {
            "targets": {
                "chrome": "48",
                "ie": "10",
                "firefox": "52",
                "edge": "14",
                "opera": "51",
                "safari": "9",
                "browsers": [
                    "> 0.5% in CZ",
                    "Explorer >= 10",
                    "iOs >= 9",
                    "last 3 versions"
                ]
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-for-of", {
            "loose": true
        }],
        "transform-es2015-for-of"
    ]
}